<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/landing.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    </head>
    <body>
        <div class="wrapper">
            {{{body}}}
        </div>
    </body>
</html>
