<link rel="stylesheet" href="/css/admin.css">
<nav class="navigation-panel">
    <button class="active" type="button" name="gallery">Галерея</button>
    <button type="button" name="video">Видео</button>
    <button type="button" name="text">Тексты</button>
</nav>
<div class="main-content">
    <div class="gallery">
        <div id="dropArea" class="drag-n-drop">
            <form class="dnd-form">
                <span>Перетащите фотографии или нажмите здесь</span>
                <input type="file" id="fileElem" multiple accept="image/*">
                <label class="dnd-button" for="fileElem">Выбрать изображения</label>
            </form>
        </div>
        {{#each imgArr}}
            <div class="imageBlock">
                <div class="cross-hover">
                    <div class="cross">

                    </div>
                </div>
                <img src="{{this.imgPath}}" alt="">
            </div>
        {{/each}}
    </div>
    <div class="video">
        <button type="button" name="addVideo">+ Добавить видео</button>
        <div class="video-preview">
            <video src="" controls>

            </video>
        </div>
    </div>
    <div class="text">
        А что тут?
    </div>
</div>
