* {
  padding: 0px;
  margin: 0px; }

body {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden; }

.button {
  background: linear-gradient(360deg, #A30E43 -10.53%, #FF2975 100%, #FC0059 100%);
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  color: white;
  transition: all .3s; }
  .button:hover {
    box-shadow: 0px 0px 10px 4px #FF2975; }
